<h2><p>Lista dos Produtos</p></h2>

<div class="div_lateral">
<table>
    <tr>
        <td class="cabeçalho"><strong>Id</strong></td>
        <td class="cabeçalho"><strong>Nome</strong></td>
        <td class="cabeçalho"><strong>Preço</strong></td>
        <td class="cabeçalho"><strong>Tipo</strong></td>
        <td class="cabeçalho"><strong>Marca</strong></td>
        <td class="cabeçalho"><strong>Descrição</strong></td>
    </tr>

    <tr class="botao" *ngFor="let produto of lista_produtos" (click)="onselect(produto)">
        <td>{{produto.id}}</td>
        <td>{{produto.nome}}</td>
        <td>R${{produto.preco}}</td>
        <td>{{produto.tipo}}</td>
        <td>{{produto.marca}}</td>
        <td>{{produto.descricao}}</td>
    </tr>
</table>
</div>

<div><app-detalhes-produtos [selprod]="seleciona_produto"></app-detalhes-produtos></div>